---
import { projects } from "../data/projects";
import ProjectCard from "./ProjectCard.astro";
---
<section id="projects" class="container">
  <h2>Proyectos</h2>

  <div class="projects-grid">
    {projects.map((project) => (
      <ProjectCard {...project} />
    ))}
  </div>
</section>
