---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Alejandro Rosa | Frontend Developer</title>
  <meta name="description" content="Portafolio de Alejandro Rosa, Frontend Developer especializado en Astro, HTML, CSS y JavaScript." />
  <meta name="author" content="Alejandro Rosa" />
  <link rel="canonical" href="https://portfolio.pedrorosa.dev" />
		<script src="/src/scripts/nav.js" defer></script>
	</head>

	<body>
		<Header />

		<main class="container">
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
